<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
  <title>hax-body demo</title>
  <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
  <script>
    /* this script must run before Polymer is imported */
    window.Polymer = {
      dom: 'shady',
      lazyRegister: true
    };
  </script>

  <!-- required for just about any app using HAX though them all being separate allows developers to replace or not use any one of the pieces and just implement the capabilities that the element is providing as far as elements and binding. -->
  <link rel="import" href="../../polymer/polymer.html">
  <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
  <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">

  <link rel="import" href="../hax-body.html">

  <style is="custom-style" include="demo-pages-shared-styles">
    .vertical-section-container {
      max-width: 60em;
      margin: auto;
      padding: 0 .5em;
    }
  </style>
</head>

<body>
  <demo-snippet>
    <template>
      <hax-editor-create-section></hax-editor-create-section>
    </template>
  </demo-snippet>
</body>

</html>